@import '@/utils/constants/mixin';
@import '@/utils/constants/_colors.scss';

.navbar {
  top: 0;
  width: 100%;
  background-color: $BG_BLACK;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 60px 0 60px;
}

.logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.categories {
  display: flex;
  align-items: center;
  padding-left: 2%;
  font-size: 1.125rem;
  gap: 3%;
  flex-grow: 1;
  color: $TEXT_BLUE;
  a:hover {
    color: darken($TEXT_BLUE, 20%);
    text-decoration: underline;
    text-decoration-color: $WHITE;
  }
}

.developer {
  display: flex;
  align-items: center;
  position: relative;
  width: 60px;
  height: 60px;
}

.profileImage {
  border-radius: 16px;
}

@include mobile {
  .container {
    padding: 0 32px 0 32px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }
  .categories a {
    display: none;
  }
  .developer {
    width: 45px;
    height: 45px;
  }
}

@include tablet {
  .categories {
    font-size: 0.8rem;
  }
}
