@import '../../utils/constants/_mixin.scss';
@import '../../utils/constants/_colors.scss';

.select {
  width: 120px;
  font-size: 12px;
  padding: 5px;
  border-radius: 8px;
  color: $TEXT_BLUE;
  border: none;
  background: none;
  display: none;
}

.select:focus {
  outline: none;
}

@include mobile {
  .select {
    display: block;
  }
}
