@import '../../utils/constants/_mixin.scss';

.select {
  width: 120px;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 8px;
  border: none;
  background: none;
  display: none;
}

.select:focus {
  outline: none;
}

@include mobile {
  .select {
    display: block;
    width: 100px;
    font-size: 10px;
  }
}
