@import '@/utils/constants/_colors.scss';
@import '@/utils/constants/_mixin.scss';

.common {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top: 1px solid $TEXT_GRAY_LIGHT;
  padding: 32px;
  div {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px;
    color: $WHITE;
  }
}
