@import '../../utils/constants/_colors.scss';
@import '../../utils/constants/_mixin.scss';

.dropdown {
  position: absolute;
  width: 100%;
  top: 60px;
  background-color: $BLACK;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  ul {
    list-style: none;
    padding: 0px;
    li {
      text-align: left;
      padding: 8px;
      background-color: darken($BG_GRAY_DARK, 2%);
      color: $TEXT_BLUE;
      a:hover {
        text-decoration: underline;
        color: darken($TEXT_BLUE, 20%);
      }
    }
  }
}

@include mobile {
  .dropdown {
    top: 45px;
    font-size: 12px;
    ul li {
      padding: 2px;
    }
  }
}
